.btn-wrap
    text-align: center
.add-btn
    width: 40%
    height: 50px
    margin-bottom: 5vh
    background-color: $black
    border-radius: 10px
    border-color: $black
    font-size: 24px
    color: $dark-white
    transition: .3s all
    &:hover
        box-shadow: 5px 10px 10px $warm-grey