.btn-wrap
    display: flex
    justify-content: space-around
    align-items: center
    text-align: center
.btn
    flex: 0 1 30%
    height: 50px
    margin-bottom: 5vh
    background-color: $black
    border-radius: 10px
    border-color: $black
    font-size: 24px
    color: $dark-white
    transition: .3s all
    &:hover
        box-shadow: 5px 10px 10px $warm-grey

.btn_disabled
    cursor: not-allowed
    pointer-events: none
    background-color: $warm-grey
    border-color: $warm-grey
