@media only screen and (min-width: 480px)
    .salary
        
        border: 3px solid $black
        border-bottom: 0
        &__row
            display: flex
            flex-wrap: nowrap
            justify-content: space-between
            align-items: center
            border-bottom: 2px solid $black
        
        &__col-sm
            flex: 0 1 30%
            margin: 10px 0
            padding: 0px 0px 20px 20px
            border-right: 3px solid $black

        &__col-lg
            flex: 0 1 70%
            margin-left: 100px
