.salary
    border: 3px solid $black
    border-bottom: 0
    &__row
        width: 100%
        padding: 10px 0
        display: flex
        flex-wrap: nowrap
        justify-content: space-between
        border-bottom: 2px solid $black
        color: $black
    
    &__col-sm
        flex: 0 1 40%
        border-right: 3px solid $black

    &__col-lg
        flex: 0 1 60%
